/* ////////////////////////////////////////
/////////////INDEX STYLES//////////////
/////////////////////////////////////// */
.parallax{
<<<<<<< HEAD
    /* The image used */
    background-image: url("../images/parallax.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-about{
    background-image: url("../images/about.jpg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-contact{
    background-image: url("../images/contact.jpg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-space{
    background-image: url("../images/memories.jpg");
    min-height: 200px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
=======
  background-image: url("../images/parallax.jpg");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-about{
  background-image: url("../images/about.jpg");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-contact{
  background-image: url("../images/contact.jpg");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-space{
  background-image: url("../images/memories.jpg");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
>>>>>>> 08815c7683e23589eec71ccabe25fd39c2f21faf
}
.header{
  background-color: rgba(128,128,128,0.6);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.08);
  /*height: 200px;*/
  width: 100vw;
  position: fixed;
  /*padding: 10px;*/
}
.logo{
  /*height: 75px;*/
  min-width: 50px;
  width: 140px;
  padding: 12px;
}
.footer{
  background-color: rgba(128,128,128,0.39);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.08);
  height: 100px;
  width: 100vw;
  padding: 10px;
}
.copyright{
  padding: 20px;
  text-align: center;
}
.nav-menu{
  padding: 1px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-links{
  font-size: 24px;
  /*color: #3179AF;*/
  /*border: 1px solid lightgrey;*/
}

.login{
  float: right;
  margin-top: 15px;
}

.volunteer-login{
  margin-left: 5px;
}

a{
  text-decoration: none;
  color: white;
}
a:hover{
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.social-media{
  display: inline-block;
  float: right;
  margin-top: -62px;
}
.fb,.twtr,.ig{
  padding: 10px;
  margin-right: 20px;
}
.footer-text{
  color: black;
  padding: 10px;
}
#about, #contact, p{
  padding: 25px;
}





/* ////////////////////////////////////////
/////////////VOLUNTEER FORM STYLES//////////////
/////////////////////////////////////// */
.volunteer-form{
	background-image: url("../inspiration/adobe-xd-1040.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	min-height: 100vh;
}



.wrapper{
	z-index: 5;
}

.heading{
	margin: auto;
	color: rgba(255, 255, 255, 0.9);
	margin: 20px 0;
}

.sign-up-form{
	background-color: rgba(255, 255, 255, 0.95);
	margin: auto;
	width: 50vw;
	border-radius: 5px;
	padding: 5px 10px 10px 10px;
}


/* sign in form css  begin */
.youth-signin-form{
	background-image: url("../inspiration/5852c52d7c378.image.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	min-height: 100vh;
}

.signin-form{
	min-height: 100vh;
}

.volunteer-header{
	margin: auto;
	color: black;
	margin: 20px 0;
}

.volunteer-signin-form{
	background-image: url("../inspiration/16_school_class_picture.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	min-height: 100vh;
}

/* sign in form css end */



.form-wrapper{
	margin: 15px;
}

.form-wrapper > div{
	display: inline-block;
}

.form-wrapper > input{
	width: 90%;
	display: block;
	margin: auto;
}

#background-check{
	max-width: 100%;
}



.interest{
	margin: 10px;
}

.form-wrapper > .submit{
	width: 40%;
}

div > .agree{
	display: inline-block;
}
