.volunteer-form{
	background-image: url("../inspiration/adobe-xd-1040.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	min-height: 100vh;
}

.signin-form{
	min-height: 100vh;
}

.wrapper{
	z-index: 5;
}

.heading{
	margin: auto;
	color: rgba(255, 255, 255, 0.9);
	margin: 20px 0;
}

.sign-up-form{
	background-color: rgba(255, 255, 255, 0.95);
	margin: auto;
	width: 50vw;
	border-radius: 5px;
	padding: 5px 10px 10px 10px;
}

.youth-signin-form{
	background-image: url("../inspiration/5852c52d7c378.image.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	min-height: 100vh;
}


.form-wrapper{
	margin: 15px;
}

.form-wrapper > div{
	display: inline-block;
}

.form-wrapper > input{
	width: 90%;
	display: block;
	margin: auto;
}

#background-check{
	max-width: 100%;
}



.interest{
	margin: 10px;
}

.form-wrapper > .submit{
	width: 40%;
}

div > .agree{
	display: inline-block;
}

.welcome-message{
	padding: 30px;
	margin: auto;
	border: 1px solid black;
}

.shoebox{
	position: relative;
	background-image: url("../images/shoebox.png");
	background-size: 50%;
	background-repeat: no-repeat;
	/*z-index: -1;*/
	height: 100vh;
	border: 1px solid red;


	/*background-size: 70%;*/
}

.shoebox-front{
	position: absolute;
	left: 0;
	top: 0;
	background-image: url("../images/shoebox_front.png");
	background-repeat: no-repeat;
	z-index: 10;
	height: 100vh;
	border: 1px solid green;


}

.user-image{
	max-width: 30%;
	/*z-index: -1;*/
	border: 1px solid black;

}

.photo-choice{
	position: absolute;
	left: 150px;
	top: 266px;
	z-index: 1;
	border: 1px solid black;

}

.doc-choice{
	z-index: 0;
	position: absolute;
	right: 800px;
	border: 1px solid black;

}
.user-box{
	max-width: 700px;
	height: 700px;
}
h1{
	text-align: center;
	font-size: 30px;
}
.gallery img, .docs img{
	height: 200px;
	width: 300px;
}
.docs img{
	padding-left: 100px;
}
/*.welcome-container{
	border: 1px solid black;
	background-color: white;
}*/